CHRONOSHELTER_DB_HOST=127.0.0.1
CHRONOSHELTER_DB_PORT=3306
CHRONOSHELTER_DB_USER=chronoshelter
CHRONOSHELTER_DB_PASSWORD=change-me
CHRONOSHELTER_DB_NAME=chronoshelter
CHRONOSHELTER_APP_HOST=127.0.0.1
CHRONOSHELTER_APP_PORT=8000
