CHRONOSHELTER_DB_HOST=host.docker.internal
CHRONOSHELTER_DB_PORT=3306
CHRONOSHELTER_DB_USER=chronoshelter
CHRONOSHELTER_DB_PASSWORD=change-me
CHRONOSHELTER_PUBLIC_DB_NAME=chrono_bangumi
CHRONOSHELTER_LIBRARY_DB_NAME=chrono_library
CHRONOSHELTER_APP_HOST=0.0.0.0
CHRONOSHELTER_APP_PORT=8700
